<p>
  test-component works!
</p>

<form method="#11" action="#222" name="test" id="test" (ngSubmit)="onSubmit()" #test="ngForm">

  <input [textMask]="{mask: mask1, keepCharPositions: true}" type="text" name="name"
         id="name" placeholder="Наименование"
         [(ngModel)]="entity.name" />

  <input type="text" name="text"
         id="email" placeholder="email"
         [(ngModel)]="entity.email"
         #email="ngModel"
         required
         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
  />

  <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
    <div class="md-char-counter" *ngIf="email.errors && email.errors.required">
      Email is required
    </div>
    <div class="md-char-counter" *ngIf="email.errors && email.errors.pattern">
      Email is invalid
    </div>
  </div>

  <input type="email" name="text2"
         id="email2" placeholder="email"
         email
         #email2="ngModel"
         required
         [(ngModel)]="entity.email"

  />
  <div class="md-errors-spacer" [hidden]="email2.valid || email2.untouched">
    <div class="md-char-counter" *ngIf="email2.errors && email2.errors.required">
      Email is required
    </div>
    <div class="md-char-counter" *ngIf="email2.errors && email2.errors.email && !email2.errors.required">
      Email is invalid
    </div>
  </div>


  <input type="date" name="dt" id="dt" placeholder="Наименование"
           [value]="entity.dt | date:'yyyy-MM-dd'" />
<div>
  {{entity.dt | date:'yyyy-MM-dd'}}
</div>

  <button type="submit" class="btn btn-fill btn-primary">Сохранить</button>
  <button type="button" (click)="buttonClick()" class="btn btn-fill btn-primary">Опс11</button>
</form>
